image:
  repository: <acr-name>.azurecr.io/backstage-demo
  tag: v1
  pullPolicy: IfNotPresent
  pullSecrets:
    - name: acr-pull

service:
  type: ClusterIP
  port: 7007

ingress:
  enabled: true
  className: nginx
  annotations:
    kubernetes.io/ingress.class: nginx
  hosts:
    - host: portal.example.com
      paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts:
        - portal.example.com
      secretName: portal-tls

extraEnvVars:
  - name: PG_HOST
    valueFrom:
      secretKeyRef:
        name: backstage-db
        key: host
  - name: PG_USER
    valueFrom:
      secretKeyRef:
        name: backstage-db
        key: user
  - name: PG_PASSWORD
    valueFrom:
      secretKeyRef:
        name: backstage-db
        key: password
  - name: PG_DB
    valueFrom:
      secretKeyRef:
        name: backstage-db
        key: database
  - name: PG_PORT
    value: "5432"
  - name: PORTAL_HOSTNAME
    value: portal.example.com

postgresql:
  enabled: false
